CompanyFleetManagerDesktopApp/[Bb]in/
CompanyFleetManagerDesktopApp/[Oo]bj/
CompanyFleetManagerDesktopAppTests/[Bb]in/
CompanyFleetManagerDesktopAppTests/[Oo]bj/
.vs/
*.db
*.db-shm
*.db-wal
README.md.backup